/* 
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;0,700;1,300;1,400&family=Gilda+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;0,700;1,300;1,400&family=Gilda+Display&family=Montserrat:wght@400;500;700&display=swap');

.header-section {
    width: 100%;
    height: 80px;
    background: #F8B133;
    position: fixed;
    top: 0;
    z-index: 1008888;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header .right-side {
    display: flex;
}

.top-header .right-side .rating {
    color: white;
    margin-right: 20px;
}

.bottom-header {
    text-align: right;
    color: white;
    margin-top: 10px
}

.nav-item-k span {
    font-size: 15px;
    font-weight: 500;
    margin-left: 20px;
}

#menubox {
    background: white;
    /* height: 400px; */
    position: fixed;
    right: 10%;
    top: 80px;
    z-index: 200000;
}

.cencel {
    height: 30px;
    width: 30px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    border-radius: 50%;
    cursor: pointer;
}

.menu-item-wrapper i {
    font-size: 22px;
    color: #F8B133;
}

.menu-item-wrapper span {
    font-size: 22px;
    color: gray;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
}

/* #menubox .menu-wrapper{
    background: red; 
    height: 400px;
    position: fixed;
    right:0;
}
#menubox .menu-wrapper{
    width:50px
} */

.top-header .logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.header-container {
    width: 100%;
    height: 100%;
}

.menu-btn div {
    background: white;
    border-radius: 3px;
    height: 3px;
    margin: 3px 0px;
}

.menu-btn .btnline-1 {
    width: 22px;
}

.menu-btn .btnline-2 {
    width: 18px;
}

.menu-btn .btnline-3 {
    width: 15px;
}



.hellowo {
    width: 200px;
    height: 200px;
    background: green;
}

.image-section {

    /* background-image: url("../../image/General\ Hotel\ Photos\ 2.jpeg"); */
    /* The image used */
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 500px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.top-image {
    /* background: rgba(0, 0, 0, 0.8)url("../../image/Main Hotel Image.jpeg"); */
    /* rgba(0, 0, 0, .9) url(../../image/General\ Hotel\ Photos\ 2.jpeg); 
    /* background: rgb(108 102 102 / 90%) url(../../image/General\ Hotel\ Photos\ 2.jpeg);*/
    /* background: rgba(0, 0, 0, .9) url(../../image/General\ Hotel\ Photos\ 3.jpeg); */
    /* background: rgba(0, 0, 0, .9) url(../../image/General\ Hotel\ Photos\ 2.jpeg); */
    background-size: cover;
    background-position: center;
    background-repeat: none;
    width: 100%;
    height: 800px;
    position: relative;
    display: inline-block;
    position: relative;
    margin-top: 80px;
    box-shadow: 1px 1px 27px 8px #00000021;
}

.top-image .backimg {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.784) url(../../image/General\ Hotel\ Photos\ 3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}


.top-image .backgroundimg img {
    width: 100%;
    height: 80%;
}

.top-image .checkout {
    position: absolute;
    /* bottom: -20%; */
    /* left: 20%; */
    /* right: 20%; */
    background: #ffffff9e;
    height: 200px;
    /* width: 70%; */
    /* bottom: 0; */
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -22%;
}

.top-image .hotel-introduction {
    position: absolute;
    /* bottom: -23%; */
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%); */
    transform: translate(-50%, -50%);
    width: 90%;
    /* background: white; */
    padding: 20px 20px;
    box-sizing: border-box;


    /* box-shadow: 2px 2px 15px 0px; */
}

.top-image .hotel-introduction .top-text {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #F8B133;
    /* box-shadow: 2px 2px 15px 0px; */
}

.top-image .hotel-introduction p {
    color: white;

    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;

    /* box-shadow: 2px 2px 15px 0px; */
}


.top-image .hotel-introduction .bottom-text {
    font-size: 30px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}

.check-rate-box {
    position: absolute;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    /* padding: 20px;  */
    background: white;
    color: #F8B133;
    border: 2px solid #2DAAE1;
    overflow: hidden;
    box-shadow: 1px 2px 8px -4px #0000008c;
}

.check-rate-box .search input {
    background: #2DAAE1;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    height: 100%;
    /* padding: 18px; */
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}


/* ============ end top image  */

#about-hotel {}

#about-hotel .hotel-logo {
    width: 100%;
    height: auto;
}

#about-hotel .hotel-logo img {
    width: 100%;
    height: 100%;
    ;
}

#about-hotel .hotel-detail {
    background: #e6e6e6;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'Barlow', sans-serif;
    line-break: loose;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

#about-hotel .hotel-detail .back-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 40%;
    /* background: url("../../image/design2.png");  */
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}


/*--------------end about hotel--------*/

/*--------------book--------*/
.flex {
    display: flex;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  } */

/* .book {
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    color: white;
  } */
#check-rate {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px 0px;
}

#check-rate .book-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#check-rate .book-right p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    color: #F8B133;
    margin: 0px;
}

#check-rate .book-right h4 {
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    color: #F8B133;
    font-weight: bold;
    margin-bottom: 20px;
}

#check-rate .book-right .input {
    background: #FFFFFF;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
}

#check-rate .checkout {
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgb(108 102 102 / 90%) url(../../image/General\ Hotel\ Photos\ 2.jpeg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-blend-mode: darken;
}

.checkout .input {
    /* background: #242e5a; */
    /* padding: 20px 20px 40px 20px; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px; */
}

.checkout .search {
    background: #3f9cc1;
    padding: 20px;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.checkout label {
    color: #F8B133;
    width: 30%;
    text-align: right;
    font-size: 16px;

}

.checkout input {
    border: 2px solid #F8B133;
    color: gray;
    width: 66%;

}

.search input {
    color: red;
}


::placeholder {
    color: white;
}


.checkout .search input {
    background: none;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 2px;
}

/*--------------checkout--------*/
/* ============= fecilities ===================== */
/* #fecilities .facilities-left img{
    width:100%; height: auto;
} */
/* #fecilities .content{
    width:100%; 
}
#fecilities .content img{
    max-width: 300px;  
    float: left;  
}
#fecilities .content .text-box{
    margin:10px;  
} */

#fecilities {
    margin-top:30px;
}
#fecilities .container {
    background: #f4f4f4 !important;
    padding-top:20px;
}

#fecilities .img-box {
    width: 100%;
}

#fecilities .header-text {
    margin-top: 50px;
}

#fecilities .wrap-content .text-box span {
    background: #d6d6d6;
    border-radius: 3px;
    padding: 0px 3px;
    margin-right: 5px;
}

#fecilities .wrap-content {
    margin-top: 60px;
}

#fecilities .img-box img {
    width: 100%;
    height: 100%;
}






/* ========end gallary===================== */

/* ============= gallary ===================== */


#hotelgallary .gallary-header {
    padding: 50px 30px 0px 0px;
    margin-bottom: 20px;

}

#hotelgallary .gallary-header span {

    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;

}

#hotelgallary .grid-wrapper img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    box-shadow: 0px 0px 4px 1px #F8B133;
}

#hotelgallary .grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;

}

#hotelgallary .grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}

#hotelgallary .grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;

}

#hotelgallary .grid-wrapper .wide {
    grid-column: span 2;


}

#hotelgallary .grid-wrapper .tall {
    grid-row: span 2;


}

#hotelgallary .grid-wrapper .big {
    grid-row: span 2;
    grid-column: span 2;


}

#hotelgallary .photo-slider .carousel-inner {
    /* width: 90%!important; */
    /* margin: 10px; */
    /* margin: 0 auto !important; */
    border-radius: 16px !important;
    box-sizing: border-box !important;
    /* box-shadow: 0px 0px 21px -4px #000000 !important;  */
}

#hotelgallary .photo-slider .carousel-item img {
    width: 100%;
    height: 100%;
    margin: 0 auto !important;
    border-radius: 16px !important;
    box-sizing: border-box !important;
    /* box-shadow: 0px 0px 21px -4px #F8B133 !important; */
}

#hotelgallary .photo-slider .carousel-item img {
    width: 100%;
    height: 100%;
    margin: 0 auto !important;
    border-radius: 16px !important;
    box-sizing: border-box !important;
    box-shadow: 0px 0px 21px -4px #000000 !important;
}

/* ========end gallary===================== */


/* review section ==============  */
#review-section {
    margin-top: 50px;
    margin-bottom: 50px;
    background: rgba(0, 0, 0, .9) url(../../image/General\ Hotel\ Photos\ 2.jpeg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    background-blend-mode: darken;
}

#review-section .review-carousle {
    bottom: -35px !important;
}

#review-section .review-container {
    height: 400px;
    background: #2DAAE1;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;

}

#review-section .review-container .review-header {
    width: 80%;
    margin: 0 aut0;
}

#review-section .review-container .review-header h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    font-family: "Gilda Display", serif;
    color: white;
    text-align: center;
}

#review-section .review-container .review-header p {
    margin-bottom: 0;
    color: var(--pragraph-color);
    font-family: "Barlow", sans-serif;
    color: white;
    padding: 0px 10px;
    text-align: center;
    font-size: 18px;
}

#review-section .review-container .reviewer-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

#review-section .review-container .reviewer-detail .reviewer-img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-sizing: border-box;
}

#review-section .review-container .reviewer-detail .reviewer-img img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

#review-section .review-container .reviewer-detail .reviewer-text {
    display: flex;

    gap: 10px;
    justify-content: center;
    flex-direction: column;

}

#review-section .review-container .reviewer-detail .reviewer-text h5 {
    /* line-height: -22; */
    font-weight: 500;
    font-family: "Gilda Display", serif;
    color: white;
    margin-bottom: -4px;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: -10px;

}

#review-section .review-container .reviewer-detail .reviewer-text span {
    /* line-height: -22; */
    font-weight: 400;
    font-family: "Gilda Display", serif;
    color: white;

    font-size: 18px;


}

/*end review section ==============  */
/*service section ==============  */
#service .box-icon-classic {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 18px 18px;
    min-height: 100%;
    background: #ffffff;
    transition: all .2s ease;
    z-index: 1;
    text-align: center;
    box-sizing: border-box;
    border: 10px solid #d3e1e7;
    border-top-right-radius: 20px;

}

/* #service .bgcolor-service {
    position: absolute;
    background: #2DAAE1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
} */
#service .service-icon {
    text-align: center;

    font-size: 50px;
    color: #3AAA35;

}

#service .unit {

    display: flex;
    flex: 0 1 100%;
    margin-bottom: -30px;
    text-align: center;

}

#service .flex-column {
    flex-direction: column !important;
}

#service .unit-left,
.unit-right {
    flex: 0 0 auto;
    max-width: 100%;
}

#service .unit-body {
    flex: 0 1 auto;
    text-align: center;
}

#service .unit-body a {
    flex: 0 1 auto;
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

#service .unit-body p {
    flex: 0 1 auto;
    text-align: center;
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-weight: 500;
}


/*end service section ==============  */
/*footer section ==============  */

#footer {
    margin-top: 50px;
    background: #F8B133;
    padding: 50px 0px;
}

#footer .footer-title {
    color: white;
}

#footer .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .footer-left p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

#footer .footer-left .unit-left {
    width: 50%;
    height: 200px;
}

#footer .footer-left .unit-left img {
    width: 100%;
    height: 100%;
}

#footer .footer-left .unit-right {
    color: white;
    width: 50%;
    padding-left: 10px;
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    word-wrap: break-word;
    word-break: break-all;

}

#footer .footer-right {
    text-align: center;
}

#footer .footer-right span {
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    display: block;
    margin: 10px;
}

#footer .footer-right .item {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

/*end footer section ==============  */

@media only screen and (max-width: 576px) {
    .top-image .backgroundimg {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 250px;
    }

    #fecilities .content img {
        max-width: 164px;
        float: left;
    }

    .top-image {

        height: 250px;
    }

    /* .top-image .checkout {

        top: -40%;

    } */
    .top-header .logo {
        font-size: 20px;
    }

    .rating .fa {
        font-size: 15px;
    }

    .nav-item-k {
        font-size: 15px !important;
    }

    #hotelgallary .photo-gallary {
        display: none;
    }

    #hotelgallary .photo-slider {
        display: flex;
    }

    #footer .footer-right {
        margin-top: 40px;
    }

    #footer .footer-right span {
        display: inline-block;
    }

    #footer .footer-right span:last-child {
        display: block;
    }

    .top-image .hotel-introduction .top-text {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #F8B133;
        /* box-shadow: 2px 2px 15px 0px; */
    }

    .top-image .hotel-introduction p {
        color: white;
        padding-left: 20px;
        font-size: 14px;
        /* letter-spacing: 1px ; */
        font-weight: 500;
        /* box-shadow: 2px 2px 15px 0px; */
    }

    #fecilities .wrap-content .text-box p {
        font-size: 15px;
    }

    .menu-item-wrapper i {
        font-size: 18px;

    }

    .menu-item-wrapper span {
        font-size: 18px;
    }

}

@media only screen and (max-width: 776px) {
    #footer-right {
        margin-top: 40px;
    }

    #footer .footer-right span {
        display: inline-block;
    }

    #footer .footer-right span:last-child {
        display: block;
    }
}

@media only screen and (min-width: 576px) {
    .top-image .backgroundimg {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 350px;
    }

    .top-image {

        height: 350px;
    }

    /* .top-image .checkout {

        top: -30%;

    } */
    .nav-item-k {
        font-size: 15px;
    }

    #hotelgallary .photo-gallary {
        display: grid;
    }

    #hotelgallary .photo-slider {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .top-image .backgroundimg {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 450px;
    }

    .top-image {

        height: 450px;
    }

    /* .top-image .checkout {

        top: -21%;

    } */
    .top-header .logo {
        font-size: 30px;
    }

    .nav-item-k {
        font-size: 15px;
    }
}